<div class="popheader">
    Add Business Group
    <span style="float:right; cursor:pointer; background-color: inherit !important" (click)="onClose()"><mat-icon>clear</mat-icon></span>
</div>
<form [formGroup]="BGform">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-6">
        <mat-label>Business Group <span style="color:red;">*</span></mat-label>
        <mat-form-field style="width: 100%;padding:0% 2% 0% 2%;">
          <input matInput type="text" formControlName="bg_description">
          <mat-error *ngIf="hasError('bg_description','required')"> Business Group is required</mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-label>Status <span style="color:red;">*</span></mat-label>
        <mat-form-field style="width: 100%;padding:0% 2% 0% 2%;">
          <mat-select  [(ngModel)]='nrSelect' [(value)]="Active" formControlName="bg_status">
            <mat-option value="Active">
              Active
            </mat-option>
            <mat-option value="Inactive">
              Inactive
            </mat-option>
          </mat-select>
          <mat-error *ngIf="hasError('bg_status','required')">Status is required</mat-error>
        </mat-form-field>

    

      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <mat-label> Start Date</mat-label>
        <mat-form-field style="width: 100%;padding:0% 2% 0% 2%;">
          <input matInput (focus)="StartDate.open()" [max]="BGform.controls['bg_enddate'].value" [matDatepicker]="StartDate" formControlName="bg_startdate">
          <mat-datepicker-toggle matSuffix [for]="StartDate"></mat-datepicker-toggle>
          <mat-datepicker #StartDate></mat-datepicker>
          <mat-error *ngIf="hasError('bg_startdate', 'required')"> Start Date is required</mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-label>End Date</mat-label>
        <mat-form-field style="width: 100%;padding:0% 2% 0% 2%;">
          <input matInput (focus)="EndDate.open()" [min]="BGform.controls['bg_startdate'].value" [matDatepicker]="EndDate" formControlName="bg_enddate">
          <mat-datepicker-toggle matSuffix [for]="EndDate"></mat-datepicker-toggle>
          <mat-datepicker #EndDate></mat-datepicker>
          <mat-error *ngIf="hasError('bg_enddate', 'required')"> End Date is required</mat-error>
        </mat-form-field>
      </div>
    </div>
  </div>
</form>

<div class="col-md-12">
  <button mat-raised-button color="primary" (click)="onSubmit()">Submit</button>&nbsp;&nbsp;&nbsp;
  <!--<button mat-raised-button color="primary" (click)="onSubmit()">Submit</button>-->
  <button mat-raised-button color="warn" (click)="onClear()">Clear</button>
</div>
