::ng-deep .mat-tab-label-active {
  background-color: #00163b !important;
  border: 2px solid #00163b !important;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  color: white !important;
  font-weight: 700;
}

::ng-deep .mat-tab-label {
  min-width: 100px !important;
  height: 30px !important;
  background-color: palegoldenrod;
  border: 2px solid palegoldenrod;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  opacity: 1 !important;
  color: black;
  font-weight: 500;
}

::ng-deep .mat-tab-group.mat-primary .mat-ink-bar {
  /*background-color: red;*/
  display: none;
}

::ng-deep .mat-tab-header {
  /*border-bottom-color: lightskyblue;*/
  border-bottom: 3px solid #00163b;
}

.proposalTab {
  /*overflow: auto;*/
  overflow-x: auto;
  /*height: 380px;*/
  padding: 15px;
}

::ng-deep mat-tab {
  width: 90% !important;
}


/* Mat expansion CSS*/
mat-expansion-panel-header {
  background-color: #00163b;
}

  mat-expansion-panel-header:hover {
    background-color: #00163b !important;
  }

.mat-expanded mat-expansion-panel-header {
  background-color: #00163b !important;
  border-radius: 0px !important;
}

mat-panel-title {
  color: white;
  font-weight: bold;
  font-style: italic;
}

mat-panel-description {
  color: red;
  /*font-weight: bold;*/
}

::ng-deep .mat-expansion-panel-body { /*ng-deep for ovverriding mat css*/
  padding: 20px !important;
}

::ng-deep .mat-expansion-indicator::after {
  color: white !important;
}

/*Bootstrap Columns*/
.col-lg-10 {
  padding-right: 0px !important;
}

.col-md-10 {
  padding-right: 0px !important;
}

.col-lg-2 {
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.col-md-2 {
  padding-right: 0px !important;
  padding-left: 0px !important;
}

/*Vertical Journey*/
.tile {
  top: 8px;
  left: 25px;
  background: rgba(68,167,85, 0.2);
  height: 50px;
  border-radius: 40px;
  padding: 4px 6px;
  width: 100%;
}

.tile .material-icons {
  font-size: 18px;
}

.tiletag {
  margin: 5px 0 0 5px;
  color: white;
  float: left;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #44a755;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: auto;
  outline: none;
}

.reject {
  background: rgba(213,26,26, 0.2);
}

.pending {
  background: #F2F2F2;
}

.reject .tiletag {
  background: #d51a1a;
}

.pending .tiletag {
  background: gray;
}

.tile p {
  margin: 2px 0px 0px 5px;
  padding-left: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bar {
  margin-left: 25px;
  font-size: 16px;
}
/*Journey Section*/
.journeysection {
  width: auto;
  /*white-space: nowrap;*/
  overflow-x: auto;
}

.timeline {
  text-align: center;
  display: inline-flex;
}

.dottedTimeline {
  display: inline-flex;
}

.timelineCard {
  width: 200px;
}

.timelineCard p {
  height: 40px;
}

.statusback {
  background-color: #37bf78;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: auto;
  position: relative;
}

  .statusback::after {
    content: '';
    display: block;
    position: absolute;
    height: 3px;
    background: gray;
    width: 180px;
    left: 100%;
    top: calc(50% - 2px);
  }

.dottedTimeline:last-child .statusback::after {
  display: none;
}

.rejectM {
  background-color: orangered;
}

  .rejectM .timeLineImg {
    mask: url('../../../assets/images/wrong.svg') center/20px 20px no-repeat;
  }

.pendingM {
  background-color: gray;
}

  .pendingM .timeLineImg {
    mask: url('../../../assets/images/pending.svg') center/25px 25px no-repeat;
  }

.timeLineImg {
  height: 40px;
  width: 40px;
  z-index: 0;
  opacity: 1;
  mask: url('../../../assets/images/correct.svg') center/25px 25px no-repeat;
  background-color: white;
}
/*Ends Journey1 Section*/

/*Schedule Section*/
.scheduleSection th:nth-child(6) {
  border: none;
  background-color: transparent;
}

.scheduleSection td:nth-child(6) {
  border: none;
}

.scheduleSection th:nth-child(2) {
  width: 100px;
}

.scheduleSection td:nth-child(2) {
  width: 100px;
}

.scheduleSection th:nth-child(3) {
  width: 100px;
}

.scheduleSection td:nth-child(3) {
  width: 100px;
}

.scheduleSection th:nth-child(4) {
  width: 100px;
}

.scheduleSection td:nth-child(4) {
  width: 100px;
}

.scheduleSection
::ng-deep .mat-form-field-underline {
  display: none;
}

.scheduleSection
::ng-deep .mat-form-field-wrapper {
  padding: 0px;
}
/*Schedule Section*/

/* Document Section */
/*.panel {
  margin-bottom: 20px;
  background-color: #f0f0f0;
  border: 0px solid transparent;
  border-radius: 0px !important;
  box-shadow: 0 0px 0px rgba(0,0,0,.05);
}

.panel-default > .panel-heading {
  color: #414141;
  background-color: #dcdcdc;
  border-color: transparent;
}

.panel-heading {
  padding: 10px 15px;
  border-bottom: 0px solid transparent;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.panel-title {
  font-size: 20px;
}*/

h5 .material-icons {
  font-size: 20px;
  color: goldenrod;
}

.documentSection .mat-icon {
  font-size: 26px;
}

.documentDiv {
  text-align: center;
}

.docOutline {
  border: 1px dashed lightgray;
  margin: 5px 10px;
}

.documentImg {
  display: block;
  margin: auto;
}

.documentImg img {
  height: 50px;
  width: 50px;
  cursor: pointer;
}

.docLabel {
  height: 25px;
  width: 100%;
  text-align: center;
}

.docLabel label {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.docRemove {
  width: 100%;
  height: 20px;
  text-align: right;
}

.docRemove mat-icon {
  font-size: 24px !important;
  cursor: pointer;
}

.docDownload {
  margin: 10px 0px 10px 0px;
  height: 40px;
  text-align: center;
}
/* Document Section */

/*questionnaire section*/

.questionnaire {
  border: solid 1px lightgray;
  border-radius: 5px;
  padding: 0px 20px 20px;
}

.question {
  border: solid 1px lightgray;
  border-radius: 5px;
  padding: 0px 20px 20px;
}

/*questionnaire section*/

/* Pricing Section */

.pricingSection
::ng-deep .mat-form-field-underline {
  display: none;
}

.pricingSection
::ng-deep .mat-form-field-wrapper {
  padding: 0px;
}

.pricingSection th:nth-child(9) {
  border: none;
  background-color: transparent;
}

.pricingSection td:nth-child(9) {
  border: none;
}
/* Pricing Section */

/*Table with Mat-Fields*/

table mat-form-field {
  padding: 5px;
}

th {
  height: 30px;
  color: white;
  background-color: #00163b;
  text-align: center;
}

th, td {
  border: 1px solid black;
}

td {
  height: 30px;
  padding: 0px 10px;
}
/*Table with Mat-Fields*/

/*Buttons*/
.btn {
  margin-left: 10px;
}

.mat-icon {
  font-size: 24px;
}

/*New Horizontal Process*/

.timelinehr {
  padding-bottom: 30px;
  padding-top: 10px;
  list-style-type: none;
  display: flex;
  text-align: center;
  overflow-x: auto;
}

  .timelinehr li {
    transition: all 200ms ease-in;
  }

.timestamp {
  width: 200px;
  margin-bottom: 20px;
  padding: 0px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 100;
}

.status {
  padding: 0px 40px;
  display: flex;
  justify-content: center;
  border-top: 2px solid gray;
  position: relative;
  transition: all 200ms ease-in;
}

  .status span {
    font-weight: 600;
    font-size: 14px;
    padding-top: 20px;
  }

.status span:before {
  content: '';
  width: 20px;
  height: 20px;
  background-color: #37bf78;
  border-radius: 25px;
  /*border: 2px solid gray;*/
  /*mask: url('../../../assets/images/correct.svg') center/25px 25px no-repeat;*/
  background-image: url('../../../assets/images/correct.svg');
  position: absolute;
  top: -12px;
  left:42%;
  transition: all 200ms ease-in;
}


.no span:before {
  background-color: orangered;
}

.inProgress span:before {
  background-color: yellow;
}

.swiper-control {
  text-align: right;
}

.swiper-slide {
  width: 200px;
  text-align: center;
  font-size: 14px;
  font-style: italic;
}

/*.swiper-slide:nth-child(2n) {
    width: 40%;
  }

  .swiper-slide:nth-child(3n) {
    width: 40%;
  }*/

.assignmentSection
::ng-deep .mat-form-field-underline {
  display: none;
}

.assignmentSection
::ng-deep .mat-form-field-wrapper {
  padding: 0px;
}

.assignmentSection th:nth-child(6) {
  border: none;
  background-color: transparent;
}

.assignmentSection td:nth-child(6) {
  border: none;
}

td mat-icon{
  cursor: pointer;
}
