<div class="multiColorLine"></div>

<div class="page">
  <div class="header">
    <h4>New Proposal, Please fill the details and submit to proceed !</h4>
  </div>
  <div class="alert alert-info">
    <strong>Info!</strong> RFP Code will be generated based on the Opportunity Name, Customer, Location details.
  </div>
  <div class="newProposal">
    <app-basic-proposal [new]="true"></app-basic-proposal>
  </div>
  
  <div class="margin15">
    <button class="btn btn-danger pull-left" (click)="back()">Back</button>
  </div>
</div>

