<div class="multiColorLine"></div>

<div class="page">
  <div class="banner">
    <div class="bannerTitle1">
      <b>New Proposal</b>
    </div>
    <div class="bannerTitle2">
      <b>Please fill the form and submit to proceed !!</b>
    </div>
  </div>
  <div class="newProposal">
    <form id="newProposal" [formGroup]="newProposalForm">
      <div class="row">
        <div class="col-lg-3">
          <mat-label>Opportunity Name <label>*</label></mat-label>
          <mat-form-field appearance="outline">
            <input matInput formControlName="title" required maxlength="50">
          </mat-form-field>
        </div>
        <div class="col-lg-3">
          <mat-label>Customer <label>*</label></mat-label>
          <mat-form-field appearance="outline">
            <input matInput formControlName="customer" required maxlength="50">
          </mat-form-field>
        </div>
        <div class="col-lg-3">
          <mat-label>Location <label>*</label></mat-label>
          <mat-form-field appearance="outline">
            <input matInput formControlName="location" required maxlength="50">
          </mat-form-field>
        </div>
        <div class="col-lg-3">
          <mat-label>RFP Code</mat-label>
          <mat-form-field appearance="outline">
            <input matInput formControlName="rfpCode" readonly maxlength="50">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3">
          <mat-label>Request Type <label>*</label></mat-label>
          <mat-form-field appearance="outline">
            <mat-select matinput formControlName="requestType" required>
              <!--<mat-option value="Request Type 1">Request Type 1</mat-option>
              <mat-option value="Request Type 2">Request Type 2</mat-option>
              <mat-option value="Request Type 3">Request Type 3</mat-option>
              <mat-option value="Request Type 4">Request Type 4</mat-option>-->
              <mat-option *ngFor="let data of requestTypes" value="{{data.requestTypeName}}">{{data.requestTypeName}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-lg-3">
          <mat-label> Practice Type <label>*</label></mat-label>
          <mat-form-field appearance="outline">
            <mat-select matinput formControlName="practiceType" required>
              <mat-option value="Engineering">Engineering</mat-option>
              <mat-option value="Digitalization">Digitalization</mat-option>
              <mat-option value="Globalization">Globalization</mat-option>
              <mat-option value="Emerging Tools">Emerging Tech</mat-option>
              <!--<mat-option *ngFor="let data of requestTypes" value="{{data.requestTypeId}}">{{data.requestTypeName}}</mat-option>-->
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-lg-3">
          <mat-label> Practice Lead <label>*</label></mat-label>
          <mat-form-field appearance="outline">
            <mat-select matinput formControlName="practiceLead" required>
              <mat-option value="Practice Lead 1">Practice Lead 1</mat-option>
              <mat-option value="Practice Lead 2">Practice Lead 2</mat-option>
              <mat-option value="Practice Lead 3">Practice Lead 3</mat-option>
              <mat-option value="Practice Lead 4">Practice Lead 4</mat-option>
              <!--<mat-option *ngFor="let data of requestTypes" value="{{data.requestTypeId}}">{{data.requestTypeName}}</mat-option>-->
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-lg-3">
          <mat-label>Point Of Contact</mat-label>
          <mat-form-field appearance="outline">
            <input matInput formControlName="poc" maxlength="50">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3">
          <mat-label>Released Date <label>*</label></mat-label>
          <mat-form-field appearance="outline">
            <input matInput [matDatepicker]="releasePicker" required readonly formControlName="requestedDate">
            <mat-datepicker-toggle matSuffix [for]="releasePicker"></mat-datepicker-toggle>
            <mat-datepicker #releasePicker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-lg-3">
          <mat-label>Submission Date <label>*</label></mat-label>
          <mat-form-field appearance="outline">
            <input matInput [matDatepicker]="submissionPicker" required readonly formControlName="submissionDate">
            <mat-datepicker-toggle matSuffix [for]="submissionPicker"></mat-datepicker-toggle>
            <mat-datepicker #submissionPicker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-lg-3">
          <mat-label>Scope</mat-label>
          <mat-form-field appearance="outline">
            <input matInput formControlName="scope" maxlength="250">
          </mat-form-field>
        </div>
        <div class="col-lg-3">
          <mat-label>Description</mat-label>
          <mat-form-field appearance="outline">
            <textarea rows="1" matInput multiline formControlName="description" maxlength="250"></textarea>
          </mat-form-field>
        </div>
      </div>
    </form>
  </div>
  <div class="margin15">
    <button class="btn btn-success pull-right" type="submit" (click)="submit()">Submit</button>
    <button class="btn btn-danger pull-left" (click)="back()">Back</button>
  </div>
</div>

