<div class="multiColorLine"></div>
<div class="page">
  <div class="planName">
    <h2>Select EDGE</h2>
    <div class="card row">
      <div class="col-lg-6 col-md-6 col-sm-6 col-12">
        <mat-card class="engineering" (click)="createNew(1)">
          <div>
            <span class="glyphicon glyphicon-cog"></span>
          </div>
          <div>
            <h4>Engineering</h4>
          </div>
        </mat-card>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-12">
        <mat-card class="digitalization" (click)="createNew(2)">
          <div>
            <span class="glyphicon glyphicon-equalizer"></span>
          </div>
          <div>
            <h4>Digitalization</h4>
          </div>
        </mat-card>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-12">
        <mat-card class="globalization" (click)="createNew(3)">
          <div>
            <span class="glyphicon glyphicon-globe"></span>
          </div>
          <div>
            <h4>Globalization</h4>
          </div>
        </mat-card>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-12">
        <mat-card class="emergingTech" (click)="createNew(4)">
          <div>
            <span class="glyphicon glyphicon-road"></span>
          </div>
          <div>
            <h4>EmergingTech</h4>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</div>
