<form [formGroup]="roleForm">
  <div class="popheader">
   Add Project Role
   <button (click)="close()" style="float:right; background-color:inherit; border:none"><mat-icon>clear</mat-icon></button>
   </div>

    <div class="row">

      <div class="col-md-4">
        <mat-label>Employee Id</mat-label>&nbsp;
        <!--<span class="glyphicon glyphicon-search" (click)="findemp()"></span>-->
        <mat-form-field style="width: 100%;padding:0% 2% 0% 2%;">
          <input type="text" matInput formControlName="employee_Id" [matAutocomplete]="empId">
          <mat-error *ngIf="hasError('employee_Id','required')">Employee Id is required</mat-error>
        </mat-form-field><br>
        <mat-autocomplete #empId="matAutocomplete" (optionSelected)="getEmployeeName($event)">
          <mat-option *ngFor="let empdrop of empdroplist;" [value]="empdrop.emp_Id">{{empdrop.emp_Id}}</mat-option>
        </mat-autocomplete>
      </div>

      <div class="col-md-4">
        <mat-label>Employee Name</mat-label>
        <mat-form-field style="width: 100%;padding:0% 2% 0% 2%;">
          <input disabled matInput formControlName="employee_Name" [matAutocomplete]="empName">
          <mat-error *ngIf="hasError('employee_Name','required')">Employee Name is required</mat-error>
        </mat-form-field><br>
        <mat-autocomplete #empName="matAutocomplete" (optionSelected)="getEmployeeId($event)">
          <mat-option *ngFor="let name of empdroplist;" [value]="name.emp_Name">{{name.emp_Name}}</mat-option>
        </mat-autocomplete>
      </div>

      <div class="col-md-4">
        <mat-label>Employee Designation</mat-label>
        <mat-form-field style="width: 100%;padding:0% 2% 0% 2%;">
          <mat-select formControlName="role_Designation">
            <mat-option *ngFor="let empdes of empdesignation" [value]="empdes.designation">{{empdes.designation}}</mat-option>
          </mat-select>
        </mat-form-field><br>
      </div>

    </div>

    <!--<mat-label>Project Name</mat-label>
   <mat-form-field style="width: 100%;padding:0% 2% 0% 2%;">
   <input matInput formControlName="project_Name" [matAutocomplete]="projectName">
    <mat-error *ngIf="hasError('project_Name','required')">ProjectName is required</mat-error>
    </mat-form-field><br>
   <mat-autocomplete #projectName="matAutocomplete">
     <mat-option *ngFor="let prj of prjdroplist;" [value]="prj.project_Name">{{prj.project_Name}}</mat-option>
  </mat-autocomplete>-->
    <!--<mat-label>Employee Id</mat-label>
   <mat-form-field style="width: 100%;padding:0% 2% 0% 2%;">
    <mat-select formControlName="employee_Id">
  <mat-option *ngFor="let empdrop of empdroplist;" [value]="empdrop.emp_Id">{{empdrop.emp_Id}}</mat-option>
   </mat-select>
      </mat-form-field><br>-->
    <!--<mat-label>Role Status</mat-label>
    <mat-form-field style="width: 100%;padding:0% 2% 0% 2%;">
      <mat-select [(value)]="selected" formControlName="role_Status">
        <mat-option value="Active">
          Active
        </mat-option>
        <mat-option value="Inactive">
          Inactive
        </mat-option>
      </mat-select>
    </mat-form-field>-->

    <div class="row">
      <div class="col-md-4">
        <mat-label>Project Name</mat-label>
        <mat-form-field style="width: 100%;padding:0% 2% 0% 2%;">
          <mat-select formControlName="project_Name">
            <mat-option *ngFor="let prj of prjdroplist;" [value]="prj.project_Name">{{prj.project_Name}}</mat-option>
          </mat-select>
        </mat-form-field><br>
      </div>

      <div class="col-md-4">
        <mat-label>Project Role</mat-label>
        <mat-form-field style="width: 100%;padding:0% 2% 0% 2%;">
          <mat-select formControlName="role_Projects">
            <mat-option *ngFor="let prjrole of prjrolelist;" [value]="prjrole.project_roles">{{prjrole.project_roles}}</mat-option>
          </mat-select>
        </mat-form-field><br>
      </div>

      <div class="col-md-4">
        <mat-label>Role Description</mat-label>
        <mat-form-field style="width: 100%;padding:0% 2% 0% 2%;">
          <input matInput formControlName="role_Description">
          <mat-error *ngIf="hasError('role_Description','required')">Description is required</mat-error>
          <mat-error *ngIf="hasError('role_Description','maxlength')">You have more than 500 characters</mat-error>
        </mat-form-field><br>
      </div>

    </div>

  

    <div class="row">

      <div class="col-md-4">
        <mat-label>Role Assign Date</mat-label>
        <mat-form-field style="width: 100%;padding:0% 2% 0% 2%;">
          <input matInput (focus)="RoleAsnDate.open()" [max]="roleForm.controls['role_EndDate'].value" [matDatepicker]="RoleAsnDate" formControlName="role_StartDate">
          <mat-datepicker-toggle matSuffix [for]="RoleAsnDate"></mat-datepicker-toggle>
          <mat-datepicker #RoleAsnDate></mat-datepicker>
          <mat-error *ngIf="hasError('role_StartDate','required')">Role Start Date is required</mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-4">
        <mat-label>Role End Date</mat-label>
        <mat-form-field style="width: 100%;padding:0% 2% 0% 2%;">
          <input matInput (focus)="RoleendDate.open()" [min]="roleForm.controls['role_StartDate'].value" [matDatepicker]="RoleendDate" formControlName="role_EndDate">
          <mat-datepicker-toggle matSuffix [for]="RoleendDate"></mat-datepicker-toggle>
          <mat-datepicker #RoleendDate></mat-datepicker>
          <mat-error *ngIf="hasError('role_EndDate','required')">Role End Date is required</mat-error>
        </mat-form-field>
      </div>

    </div>
</form>


<div class="col-md-12">
  <button mat-raised-button color="primary" (click)="onSubmit()">Submit</button>&nbsp;&nbsp;&nbsp;
  <button mat-raised-button color="warn" (click)="onClear()">Clear</button>
</div>

