<div class="btnbar">
  <li style="float: left;">
    <button mat-button routerLink="/home" style="color:white"><span class="glyphicon glyphicon-home"></span><p role="presentation">Home</p></button>
  </li>
  <h3 style="float: left; color:white">Import Timesheets</h3>
  <li>
</div>
<br><br>
    <div class="pg-assnpro" style="height: calc( 100vh - 120px)">
      <br>
      <div class="import">
        <button mat-raised-button type="button" (click)="openImport()" color="primary" style="float:left; margin:auto">Import</button>
      </div>
    </div>
