<div>
  <div class="content-container">
    <span id="close-icon"><i (click)="closeDialog()" class="glyphicon glyphicon-remove" id="close-icon"></i></span>
    <!--<button id="close-icon" (click)="closeDialog()">close</button>-->
    <span class="content-span full-width">{{data.message}}</span>
  </div>

  <div style="padding-right:50px;padding-left:50px">
    <button style="float:left" mat-flat-button id="no-button" [mat-dialog-close]="false">Cancel</button>
    <button mat-flat-button id="okay-button" [mat-dialog-close]="true">Ok</button>
  </div>
</div>
