<div>
  <div class="content-container">
    <span id="close-icon"><i (click)="closeDialog()" class="glyphicon glyphicon-remove"></i></span>
    <!--<button id="close-icon" (click)="closeDialog()">close</button>-->
    <span class="content-span full-width" style="color:black;padding:10%;"><b>{{data.message}}</b></span>
  </div>

  <div style="padding-right:20px">
    <!--<button mat-flat-button id="no-button" [mat-dialog-close]="false">NO</button>-->
    <button mat-flat-button id="okay-button" [mat-dialog-close]="true">Ok</button>
  </div>
</div>
