<form [formGroup]="adminservice.deptform">
  <div class="popheader">
    Edit Department
    <span style="float:right; cursor:pointer; background-color: inherit !important" (click)="close()"><mat-icon>clear</mat-icon></span>
  </div>
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-6">
        <mat-label> Department Code <span style="color:red;">*</span></mat-label>
        <mat-form-field style="width: 100%;padding:0% 2% 0% 2%;">
          <input [readonly]="!editable" matInput type="text" formControlName="departmentCode">
          <mat-error *ngIf="hasError('department','required')"> Code is required</mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-label>Department <span style="color:red;">*</span></mat-label>
        <mat-form-field style="width: 100%;padding:0% 2% 0% 2%;">
          <input [readonly]="!editable" matInput type="text" formControlName="department">
          <mat-error *ngIf="hasError('department','required')"> Name is required</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <mat-label> Start Date</mat-label>
        <mat-form-field style="width: 100%;padding:0% 2% 0% 2%;">
          <input matInput [readonly]="!editable" (focus)="StartDate.open()" [matDatepicker]="StartDate" formControlName="depStartDate">
          <mat-datepicker-toggle matSuffix [for]="StartDate"></mat-datepicker-toggle>
          <mat-datepicker #StartDate></mat-datepicker>
          <mat-error *ngIf="hasError('depStartDate', 'required')"> Start Date is required</mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-label>End Date</mat-label>
        <mat-form-field style="width: 100%;padding:0% 2% 0% 2%;">
          <input matInput (focus)="EndDate.open()" [min]="adminservice.deptform.controls['depStartDate'].value" [matDatepicker]="EndDate" formControlName="depEndDate">
          <mat-datepicker-toggle matSuffix [for]="EndDate"></mat-datepicker-toggle>
          <mat-datepicker #EndDate></mat-datepicker>
          <mat-error *ngIf="hasError('depEndDate', 'required')"> End Date is required</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <mat-label>Status <span style="color:red;">*</span></mat-label>
        <mat-form-field style="width: 100%;padding:0% 2% 0% 2%;">
          <mat-select [(value)]="deptStatus" formControlName="deptStatus">
            <mat-option value="Active">
              Active
            </mat-option>
            <mat-option value="Inactive">
              Inactive
            </mat-option>
          </mat-select>
          <mat-error *ngIf="hasError('deptStatus','required')">Status is required</mat-error>
        </mat-form-field>
      </div>
    </div>
  </div>
</form>

<div class="col-md-12">
  <button mat-raised-button color="primary" (click)="Submit()">Save</button>&nbsp;&nbsp;&nbsp;
  <!--<button mat-raised-button color="primary" (click)="onSubmit()">Submit</button>-->
  <button mat-raised-button color="warn" (click)="clear()">Cancel</button>
</div>
