<!--*************Github************-->
<div class="btnbar">
  <li style="float: left;">
    <button mat-button routerLink="/home" style="color:white"><span class="glyphicon glyphicon-home"></span><p role="presentation">Home</p></button>
  </li>
  <h3 style="float: left; color:white">Deliverables</h3>
  <li>
    <span class="spacer"></span>
    <button mat-button style="color:white"><span class="glyphicon glyphicon-import"></span><p role="presentation">Import</p></button>
  </li>
  <li>
    <button (click)="exportAsXLSX()" mat-button style="color:white"><span class="glyphicon glyphicon-export"></span><p role="presentation">Export</p></button>
  </li>

  <li>
    <button mat-button (click)="m_searchbar()" style="color:white"><span class="glyphicon glyphicon-search"></span><p role="presentation">Search</p></button>
  </li>
</div>
<br><br>

<div class="pg-assnpro" style="height: calc( 100vh - 142px)">
  <div style="padding-top:50px;">

    <mat-nav-list>
      <div class="col-md-12">
        <div class="col-md-12">
          <mat-expansion-panel class="panelHeaderOne">
            <mat-expansion-panel-header>
              <mat-panel-title class="matHead">
                <b>Plan Phase</b>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="col-md-12">
              <div class="col-md-4">
                <a href="https://pactors.sharepoint.com/:w:/r/sites/PacteraDeliverables/Shared%20Documents/PacteraEdge%20Templates/01.%20Plan%20Documents/P1.1-Functional%20Scope.docx?d=w5fad08f6633044c6b29c30084c924b3b&csf=1&e=Yl3jnd" target="_blank" role="button">P1.1-Functional Scope</a><br />
                <a href="" target="_blank" role="button">P1.2-Review Solution</a><br />
                <a href="" target="_blank" role="button">P1.3-Training Strategy</a><br />
                <a href="https://pactors.sharepoint.com/:w:/r/sites/PacteraDeliverables/Shared%20Documents/PacteraEdge%20Templates/01.%20Plan%20Documents/P1.4-Testing%20Strategy.docx?d=w0266a631fd9247bc8e6280fcf5c6a568&csf=1&e=Db8z04" target="_blank" role="button"> P1.4-Testing Strategy</a><br />
              </div>
              <div class="col-md-4">
                <a href="https://pactors.sharepoint.com/:w:/r/sites/PacteraDeliverables/Shared%20Documents/PacteraEdge%20Templates/01.%20Plan%20Documents/P1.4-Testing%20Strategy.docx?d=w0266a631fd9247bc8e6280fcf5c6a568&csf=1&e=Db8z04" target="_blank" role="button">P1.5-Documentation Standards</a><br />
                <a href="https://pactors.sharepoint.com/:w:/r/sites/PacteraDeliverables/Shared%20Documents/PacteraEdge%20Templates/01.%20Plan%20Documents/P1.4-Testing%20Strategy.docx?d=w0266a631fd9247bc8e6280fcf5c6a568&csf=1&e=Db8z04" target="_blank" role="button"> P1.6-Project Kick Off</a><br />
                <a href="" target="_blank" role="button">P1.7-Sprint Plan</a><br />
                <a href="https://pactors.sharepoint.com/:w:/r/sites/PacteraDeliverables/Shared%20Documents/PacteraEdge%20Templates/01.%20Plan%20Documents/P1.8-Activity%20Break%20Down%20WBS.docx?d=w2c15d31acd0f4c35af531ac2f803194c&csf=1&e=8YqDub" target="_blank" role="button">P1.8-Activity Break Down WBS</a><br />
                <a href="https://pactors.sharepoint.com/:w:/r/sites/PacteraDeliverables/Shared%20Documents/PacteraEdge%20Templates/01.%20Plan%20Documents/P1.9-Governance%20of%20Structure.docx?d=w4f0fd6432652462d9a55764bf8115690&csf=1&e=C7pbLK" target="_blank" role="button">  P1.9-Governance of Structure</a><br />
              </div>
              <div class="col-md-4">
                <a href="https://pactors.sharepoint.com/:w:/r/sites/PacteraDeliverables/Shared%20Documents/PacteraEdge%20Templates/01.%20Plan%20Documents/P1.10-Project%20Charter.docx?d=w4e8d9e703ba448da83bff72d29710c98&csf=1&e=Kc1Thu" target="_blank" role="button"> P1.10-Project Charter</a><br />
                <a href="" target="_blank" role="button"> P1.11-Project Management Plan</a><br />
                <a href="https://pactors.sharepoint.com/:w:/r/sites/PacteraDeliverables/Shared%20Documents/PacteraEdge%20Templates/01.%20Plan%20Documents/P1.12-Project%20Plan%20Checklist.docx?d=w17045959de3e4e31951be915b7827eb3&csf=1&e=ULgPR0" target="_blank" role="button">P1.12-Project Plan Checklist</a><br />
                <a href="https://pactors.sharepoint.com/:w:/r/sites/PacteraDeliverables/Shared%20Documents/PacteraEdge%20Templates/01.%20Plan%20Documents/P1.12-Project%20Plan%20Checklist.docx?d=w17045959de3e4e31951be915b7827eb3&csf=1&e=ULgPR0" target="_blank" role="button">  P1.13-Audit Report</a>
              </div>
            </div>
          </mat-expansion-panel>
        </div>
      </div>
    </mat-nav-list>

    <mat-nav-list>
      <div class="col-md-12">
        <div class="col-md-4">
          <mat-expansion-panel class="panelHeaderTwo">
            <mat-expansion-panel-header>
              <mat-panel-title class="matHead">
                <b>Analyze Phase</b>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <a href="" target="_blank" role="button">P2.2-Technical Specification</a><br />
            <a href="" target="_blank" role="button">P2.3-Steering Committee</a><br />
            <a href="" target="_blank" role="button"> P2.4-As-Is</a><br />
            <a href="" target="_blank" role="button">P2.5-Gap Analysis</a><br />
            <a href="" target="_blank" role="button">P2.6-Implementation Strategy</a><br />
            <a href="" target="_blank" role="button"> P2.7-Develop Use-Case Model</a><br />
            <a href="" target="_blank" role="button">P1.7-Sprint Plan</a><br />
            <a href="" target="_blank" role="button">P2.8-Analysis Specification</a><br />
            <a href="" target="_blank" role="button"> P2.9-Acquire and Convert Data</a><br />
            <a href="" target="_blank" role="button">P2.10-Business Process Impact</a><br />
            <a href="" target="_blank" role="button">P2.11-Traceability Matrix</a><br />
            <a href="" target="_blank" role="button">P2.12-Develop Test Plans</a><br />
            <a href="" target="_blank" role="button">P2.13-Develop Test Scenarios</a>
            <a href="" target="_blank" role="button"> P2.14-Conversion Components</a>
            <a href="" target="_blank" role="button">P2.15-User Story</a>

          </mat-expansion-panel>
        </div>
        <div class="col-md-4">
          <mat-expansion-panel class="panelHeaderTwo">
            <mat-expansion-panel-header>
              <mat-panel-title class="matHead">
                <b>Design Phase</b>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <a href="" target="_blank" role="button">P3.1-Design Phase Checklist</a><br />
            <a href="" target="_blank" role="button"> P3.2-Implementation Plan</a><br />
            <a href="" target="_blank" role="button">P3.3-Design Baseline Architecture</a><br />
            <a href="" target="_blank" role="button">P3.4-Conceptual Prototype</a><br />
            <a href="" target="_blank" role="button">P3.5-Design Specification</a><br />
            <a href="" target="_blank" role="button">P3.6-Mapping Document</a><br />
            <a href="" target="_blank" role="button">P3.7-Design Physical Database</a><br />
            <a href="" target="_blank" role="button">P3.8-Design Logical Database</a><br />
            <a href="" target="_blank" role="button">P3.9-System Capacity Plan</a><br />
            <a href="" target="_blank" role="button">P3.10-Define RICEW</a><br />
            <a href="" target="_blank" role="button">P3.11-Define Data Migration Components</a><br />
            <a href="" target="_blank" role="button">P3.12-Training Plan</a><br />
            <a href="" target="_blank" role="button">P3.13-Testing Plan</a>
            <a href="" target="_blank" role="button">P3.14-Design Standards</a>

          </mat-expansion-panel>
        </div>
        <div class="col-md-4">

          <mat-expansion-panel class="panelHeaderTwo">
            <mat-expansion-panel-header>
              <mat-panel-title class="matHead">
                <b>Build Phase</b>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <a href="" target="_blank" role="button">P4.1-Technical Requirements and Architecture</a><br />
            <a href="" target="_blank" role="button">P4.2-Prioritize MoSoCow</a><br />
            <a href="" target="_blank" role="button"> P2.4-As-Is</a><br />
            <a href="" target="_blank" role="button">P4.3-Architecture and Application Mapping</a><br />
            <a href="" target="_blank" role="button">P4.4-Configuration Register</a><br />
            <a href="" target="_blank" role="button">P4.5-Develop Components</a><br />
            <a href="" target="_blank" role="button">P4.6-Data Migration - Dry Run1</a><br />
            <a href="" target="_blank" role="button">P4.7-Quality Review</a><br />
            <a href="" target="_blank" role="button">P4.8-Installation Document</a><br />
            <a href="" target="_blank" role="button">P4.9-Develop System Test</a><br />

          </mat-expansion-panel>
        </div>
      </div>
    </mat-nav-list>

    <mat-nav-list>
      <div class="col-md-12">
        <div class="col-md-6">
          <mat-expansion-panel class="panelHeaderOne">
            <mat-expansion-panel-header>
              <mat-panel-title class="matHead">
                <b>Verify Phase</b>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <a href="" target="_blank" role="button">
              P5.1-System Integration Test Plan
            </a><br />
            <a href="" target="_blank" role="button">P5.2-UAT Plan</a><br />
            <a href="" target="_blank" role="button">P5.3-Testing Requirements</a><br />
            <a href="" target="_blank" role="button">P5.4-Data Migration - Dry Run2</a><br />
            <a href="" target="_blank" role="button">P5.5-User Manual</a><br />
            <a href="" target="_blank" role="button">P5.6-Release Notes</a><br />
            <a href="" target="_blank" role="button">P5.7-Prepare User Guide</a><br />
            <a href="" target="_blank" role="button">P5.8-Technical Reference Manual</a><br />
            <a href="" target="_blank" role="button">P5.9-System Test Plan</a><br />
            <a href="" target="_blank" role="button">P5.10-Unit Test Checklist</a><br />
            <a href="" target="_blank" role="button">P5.11-Prepare Cut cover</a><br />
            <a href="" target="_blank" role="button">P5.12-Change Management Plan</a><br />
            <a href="" target="_blank" role="button">P5.13-Communication Strategy</a>
          </mat-expansion-panel>
        </div>

        <div class="col-md-6">
          <mat-expansion-panel class="panelHeaderOne">
            <mat-expansion-panel-header>
              <mat-panel-title class="matHead">
                <b>Deploy Phase</b>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <a href="" target="_blank" role="button">P6.1-Production Readiness document</a><br />
            <a href="" target="_blank" role="button">P6.2-Production Support Infrastructure</a><br />
            <a href="" target="_blank" role="button">P6.3-Backup and Recovery</a><br />
            <a href="" target="_blank" role="button">P6.4-Disaster Recovery Strategy</a><br />
            <a href="" target="_blank" role="button">P6.5-Deploy Phase Checklist</a><br />
            <a href="" target="_blank" role="button">P6.6-Production Checklist</a><br />
          </mat-expansion-panel>
        </div>
      </div>
    </mat-nav-list>

    <mat-nav-list>
      <div class="col-md-12">
        <div class="col-md-12">
          <mat-expansion-panel class="panelHeaderTwo">
            <mat-expansion-panel-header>
              <mat-panel-title class="matHead">
                <b>Close Phase</b>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="col-md-12">
              <div class="col-md-4">
                <a href="" target="_blank" role="button">P7.1-Closure Report</a><br />
              </div>
              <div class="col-md-4">
                <a href="" target="_blank" role="button">P7.2-Sign Off</a><br />
              </div>
              <div class="col-md-4">
                <a href="" target="_blank" role="button">P7.3-Metrics Report</a><br />
              </div>
            </div>
          </mat-expansion-panel>
        </div>
      </div>
    </mat-nav-list>

    <mat-nav-list>
      <div class="col-md-12">
        <div class="col-md-12">
          <mat-expansion-panel class="panelHeaderOne">
            <mat-expansion-panel-header>
              <mat-panel-title class="matHead">
                <b>PMO Documents</b>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="col-md-12">
              <div class="col-md-4">
                <a href="" target="_blank" role="button">PM01-Project Management Plan</a><br />
                <a href="" target="_blank" role="button">PM02-Weekly Status Report</a><br />
                <a href="" target="_blank" role="button">PM03-Project Status Report </a><br />
                <a href="" target="_blank" role="button">PM04-Project Tracking Sheet</a><br />
              </div>
              <div class="col-md-4">
                <a href="" target="_blank" role="button">PM05-Scrum Report</a><br />
                <a href="" target="_blank" role="button"> PM06-Minutes of Meeting </a><br />
                <a href="" target="_blank" role="button">PM07-Project Plan</a><br />
              </div>
              <div class="col-md-4">
                <a href="" target="_blank" role="button">PM09-Project Time Sheet</a><br />
                <a href="" target="_blank" role="button">PM10-Project Health Check Report</a><br />
                <a href="" target="_blank" role="button">PM11-Consolidated Project Checklist</a><br />
              </div>
            </div>
          </mat-expansion-panel>
        </div>
      </div>
    </mat-nav-list>
  </div>
</div>


