<!--<p>administration works!</p>-->
<div class="multiColorLine"></div>
<div class="page">
  <div class="col-sm-12 col-md-2 col-lg-2 col-xs-12 padding-horizontal-0">
    <ul class="nav nav-tabs tabs-left" style="background-color:#ffffff;font-size:16px;">
      <li *ngFor="let route of routes" routerLinkActive="active" [routerLink]="route.path">
        <a>
          <span>{{route.data?.title}}</span>
        </a>
      </li>
    </ul>
  </div>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>


